.carousel {
  width: 100%;
  height: calc(28rem);
  position: relative;
}

.carousel > ul {
  list-style: none;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  text-align: center;
}

.slide > img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0m;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: calc(50%);
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}
