:root {
  --dodger-blue: #005a9c;

  --dodger-red: #ef3e42;
  --dodger-silver: #a5acaf;
  --lakers-purple: #552583;
  --lakers-purple: #663a82;
  --lakers-gold: #fdb927;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}
body {
  background: var(--lakers-gold);
  font-family: "Sora", sans-serif;
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.header__ul {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  transform: translateX(-100vw);
  transition: transform 0.3s ease-in-out;
  background: var(--lakers-purple);
  list-style-type: none;
  z-index: 3;
}

.header__ul--open {
  transform: translateX(0);
}

.header__ul__li {
  display: flex;
  height: 100%;
  width: 100%;
}

.header__ul__links {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.theme {
  margin: auto;
}
.header__ul__li a:hover {
  transform: scale(1.1);
}
.header__ul__li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  padding: 0 1em;
  transition: background 0.3s ease-in-out;
  color: var(--lakers-gold);
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.theme__image {
  position: fixed;
  bottom: 4rem;
  left: 50%;

  height: 50px;
  transform: translateX(-50%);
}

.theme__image:hover {
  cursor: pointer;
  transform: translateX(-50%) scale(1.25);
}

.menu-button {
  position: fixed;
  padding: 2rem 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 4;
}

.menu-button__lines,
.menu-button__lines::before,
.menu-button__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--lakers-purple);
  transition: all 0.4s ease-in-out;
}

.menu-button__lines::before,
.menu-button__lines::after {
  content: "";
  position: absolute;
}

.menu-button__lines::before {
  transform: translateY(-0.5rem);
}

.menu-button__lines::after {
  transform: translateY(0.5rem);
}

/* menu button animation */
.menu-button--open .menu-button__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-button--open .menu-button__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: var(--lakers-gold);
}

.menu-button--open .menu-button__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: var(--lakers-gold);
}
.menu-button--open .menu-button__lines--dodgers::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: white;
}

.menu-button--open .menu-button__lines--dodgers::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: white;
}

.intro {
  height: 100vh;
  padding: 1rem;
  color: var(--lakers-purple);
}

.intro span {
  font-size: 2rem;
}

.intro__text {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  justify-content: center;
}

.intro__text p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: white;
}

.fa-chevron-down {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--lakers-purple);
  animation: scroll 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects > h1 {
  margin: 1rem 1rem 0 1rem;
  color: var(--lakers-purple);
  font-size: 1.5rem;
}
.projects__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 23rem;
  background: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}
.project__title {
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
}
.project__title p {
  margin-bottom: 0;
}

.project__title img {
  height: 3rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.5rem;
}

.overlay a {
  text-decoration: none;
  margin: auto;
  color: #e60012;
}
.overlay a:hover {
  transform: scale(1.05);
  transition: transform 100ms ease-in-out;
}
.overlay a img {
  height: 3rem;
  background: none;
  border: none;
}
.project__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  position: relative;
  background: #b19cd9;
  border-radius: 0.5rem;
}
.project__image:hover .overlay {
  opacity: 1;
}
.project__image img {
  display: block;
  width: 100%;
  height: auto;
}

.project__text {
  display: none;
}

#event-tracker-image {
  width: 80%;
}

.natural-events h1 {
  font-size: 1.75rem;
}

.project-button {
  background-color: var(--lakers-gold);
  border-radius: 2rem;
  padding: 0.5rem;
}
.nintendo {
  font-family: "Press Start 2P", cursive;
  color: #e60012;
  border: 4px solid #e60012;
  font-size: 0.75rem;

  border-radius: 2rem;
  padding: 0.5rem;
  transition: transform 100ms ease-in-out;
  background: white;
}

.nintendo:focus {
  outline: none;
}
.nintendo:hover {
  cursor: pointer;
}

.nintendo:active {
  transform: translateY(-0.5rem);
}

.nintendo::selection {
  color: none;
  background: none;
}

#pokedex-image {
  width: 80%;
  max-width: 40rem;
  border-radius: 0.25rem;
}
.project__links a {
  position: relative;
  text-decoration: none;
  height: 100%;
}

.studio-ghibli-card h1 {
  font-size: 2rem;
}
.carousel-inner {
  border-radius: 0.25rem;
}
.carousel-item {
  height: 20rem;
}

.carousel {
}
.carousel-item h5 {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.about__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lakers-purple);
  margin: 10rem 1rem 0;
  text-align: center;
}
.about__me > * {
  max-width: 50rem;
  margin-bottom: 2rem;
}

.my__toolkit {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: var(--lakers-purple);
  align-items: center;
}

.my__toolkit__ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.my__toolkit__ul__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}
/* dodgers theme */
.body--dodgers {
  background: white;
}
/*  */
.header__ul--dodgers {
  background: var(--dodger-blue);
}

.header__ul__li--dodgers a {
  color: white;
}

.menu-button__lines--dodgers,
.menu-button__lines--dodgers::before,
.menu-button__lines--dodgers::after {
  background: var(--dodger-blue);
}
.intro--dodgers {
  color: var(--dodger-blue);
}

.intro__text--dodgers p {
  color: var(--dodger-red);
}

.projects--dodgers > h1 {
  color: var(--dodger-red);
}

.project--dodgers {
  background: var(--dodger-blue);
  color: white;
}
.project__image--dodgers {
  background: #a2d2ff;
}
.nintendo--dodgers {
  background: white;
}
.background--dodgers-blue {
  background: var(--dodger-blue);
}

.color--dodgers-blue {
  color: var(--dodger-blue);
}

.background--dodgers-red {
  background: var(--dodger-red);
}

.color--dodgers-red {
  color: var(--dodger-red);
}
.color--dodgers-white {
  color: white;
}

@media (min-width: 600px) {
  header {
    display: flex;
    position: fixed;
    height: calc(50px + 1rem);
    width: 100vw;
    background: var(--lakers-purple);
    justify-content: center;
    z-index: 3;
  }
  .header__ul {
    transform: none;
    flex-direction: row;
    height: calc(50px + 1rem);
  }

  .header__ul__li a {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }

  .header__ul__links {
    flex-direction: row;
    height: 100%;
    margin: 0 auto;
  }

  .menu-button {
    display: none;
  }

  .theme__image {
    position: fixed;
    right: 0;
    top: 0;
    left: auto;
    margin: 0.5rem 1rem;
    z-index: 4;
  }

  .intro {
    text-align: center;
  }
  .projects {
    align-items: center;
  }
  .project__text {
    display: block;

    margin-top: 1rem;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
